/* App.css */
* {
  font-family: sans-serif;
}
.container {
  min-height: 100vh;
  width: 100%;
  position: relative;
}

.gradient-background {
  position: absolute;
  inset: 0;
  z-index: 0;
  background: radial-gradient(125% 125% at 50% 10%, #fff 40%, #6366f1 100%);
}
.content {
  position: relative;
  z-index: 1;
  text-align: center;
}
.heading {
  color: gray;
  padding-top: 50px;
}
span {
  color: #6366f1;
}
.main-emoji {
  height:auto;
  width:fit-content;
  background-color: #d8d9f998;
  border: 1px solid #6366f1;
  z-index: 1;
  position: relative;
  margin:50px auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.emojis-container {
  height: auto;
  min-width:500px;
  width:500px;
  background-color: #6365f161;
  border: 2px solid #6366f1;
  border-radius: 15px;
  position:relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content:center;
  gap: 10px;
  margin:auto;
  bottom:0px;
  padding:10px;
}

.range {
  height: auto;
  width:400px;
  background-color: #d8d9f998;
  border: 1px solid #6366f1;
  z-index: 1;
  position: absolute;
  margin: auto;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-size: 18px;
  flex-wrap: wrap;
  left: 0px;
  top:15px;
}
.reset-btn
{
  width:120px;
  border:2px solid #6366f1;
  padding:10px;
  border-radius:20px;
  font-size:18px;
  font-weight:600;
  background-color: #d8d9f998;
  color:#6365f1de;
  cursor: pointer;
  margin-bottom:10px;
  transition: all ease-in-out 0.1s ;
}
.reset-btn:hover
{
  background-color: #6366f1;
  color:white;
}