.Footer {
    height:100%;
    width:25%;
    margin:0 auto;
    border-top:1px solid rgba(0, 0, 0, 0.39);
    text-align:center;
}
.links
{
   display:flex;
   align-items:center;
   justify-content:center;
   gap:10px;
}
a{
     text-decoration:none;
}
h3{
    color:rgba(0, 0, 0, 0.514);
}