.heading {
  font-family:sans-serif;
  font-size:40px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
  padding: 0;
  margin: 0;
  color:black;
}

.typewriter {
  display: inline-block;
  overflow: hidden;
  border-right: 1.5px solid black;
  white-space: nowrap;
  animation: typing 4s steps(40, end) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 30ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
span
{
  color: #6366f1;
}

@media screen and (max-width: 359px) {
  .heading {
    font-size: 18px;
  }
}


@media screen and (min-width: 360px) and (max-width: 479px) {
  .heading {
    font-size: 22px;
  }
}


@media screen and (min-width: 480px) and (max-width: 767px) {
  .heading {
    font-size: 28px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .heading {
    font-size: 32px;
  }
}


@media screen and (min-width: 1024px) {
  .heading {
    font-size: 40px;
  }
}